.SearchedTranslate{
  font-weight: bold;
  border: 2px solid grey;
  min-height: 100px;
  padding: 15px;
  border-radius: 15px;
  flex-grow: 1;
  margin: 5px;
}
.SearchedTranslate__pos{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.translatedElement{
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AiFillCheckCircle{
  color:grey;
  width: 35px;
  height: 35px;
  transition: linear 0.1s;
  margin-left: 65px;
  transition: 0.1s ease all;
}
.AiFillCheckCircle:hover{
  color:rgb(129, 182, 7);
  border-radius: 50%;
  transform: scale(1.1);
  cursor: copy;
}