.SearchedTranslate{
  font-weight: bold;
  background: linear-gradient(135deg,#3030308e,#494949a6);
  border-top:1px solid rgba(255, 255, 255, 0.5);
  border-left:1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 2px 2px 2px 0px rgb(163, 163, 163);
  min-height: 100px;
  padding: 15px;
  border-radius: 5px;
  flex-grow: 1;
  margin: 5px;
}
.SearchedTranslate__pos{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.translatedElement{
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.AiFillCheckCircle{
  color:grey;
  width: 35px;
  height: 35px;
  transition: linear 0.1s;
  margin-left: 65px;
  transition: 0.3s ease all;
}
.AiFillCheckCircle:hover{
  color:rgb(129, 182, 7);
  border-radius: 50%;
  transform: scale(1.1);
  cursor: copy;
}
.green{
  color:green
}
.red{
  color:red
}