.WordsCouple{
  display: flex;
  justify-content: space-between;
  background: linear-gradient(135deg,#3030308e,#494949a6);
  border-top:1px solid rgba(255, 255, 255, 0.5);
  border-left:1px solid rgba(255, 255, 255, 0.5);
  box-shadow: 1px 1px 2px 0px rgb(163, 163, 163);
  border-radius: 5px;
  padding: 8px;
  font-weight: 700;
  flex-grow: 1;
  min-width: 100%;
}
.WordsCouple-icon{
  color:grey;
  width: 35px;
  height: 35px;
  transition: linear 0.1s;
  transition: 0.3s ease all;
}
.WordsCouple-icon:hover{
  color:red;
  cursor: alias;
  transform: scale(1.1);
}
.WordsCouple-word{
  margin-left: 5px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.WordsCouple-translates{
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  font-weight: 500;
  font-style: italic;
}
.WordsCouple-translates-translate{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 5px 0px 5px 0px;
}
