.SearchedTranslate{
  font-weight: bold;
  border: 2px solid grey;
  min-width: 250px;
  min-height: 200px;
  padding: 15px;
  margin-top: 5px;
  margin-right: 10px;
  border-radius: 15px;
}
.SearchedTranslate__pos{
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
}
.translatedElement{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}