.SearchedTranslate{
  font-weight: bold;
  border: 1px solid grey;
  min-width: 250px;
  padding: 15px;
  margin-top: 5px;
  border-radius: 5px;
}
.SearchedTranslate__pos{
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: start;
  width: 100%;
}