.dashboard-container{
  display: flex;
  justify-content: center;
  background: linear-gradient(rgba(0, 255, 255, 0.1),rgb(255, 255, 255),rgba(0, 255, 255, 0.1));
}
.Dashboard{
  grid-area: Dashboard;
  width: 1200px;
}
.Dashboard-content{
  margin: 25px 15px;
}