.dashboard-container{
  display: flex;
  justify-content: center;
  background-color: rgb(236, 238, 240);
}
.Dashboard{
  grid-area: Dashboard;
  width: 1200px;
}
.Dashboard-content{
  margin: 25px 15px;
}