.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Footer;
  background: linear-gradient(rgba(159, 194, 224, 0.8),rgb(27, 51, 73));
  height: 100%;
  text-align: center;
}
.Footer{
  display: flex;
  justify-content: flex-end;
  min-width: 1200px;
}
.Footer-word{
  font-size: 12px;
  font-weight: 500;
  font-style: italic;
  color:rgba(0, 0, 0, 0.747);
}