.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Footer;
  background: linear-gradient(#181818,rgb(70, 85, 99));
  height: 100%;
  text-align: center;
}
.Footer{
  display: flex;
  justify-content: flex-end;
  min-width: 1200px;
}
.Footer-word{
  font-size: 12px;
  font-weight: 500;
  font-style: italic; 
  color:rgba(255, 255, 255, 0.85);
}