.Instruction{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:35px;
  flex-direction: column;
}

.Instruction-elem{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.322);
  padding: 15px 55px 15px 15px;
  border-radius: 7px;
}
.Instruction-text{
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}