.Instruction{
  display: flex;
  flex-direction: column;
}
.Instruction-wrapper{
  display: flex;
  justify-content: space-around;
}
.Instruction-elements{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap:35px;
  flex-direction: column; 
}
.Instruction-row{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: rgba(82, 82, 82, 0.322);
  padding: 15px 55px 15px 15px;
  border-radius: 7px;
}
.Instruction-text{
  font-size: 16px;
  font-style: italic;
  font-weight: 700;
}