.App{
  display: grid;
  grid-template-areas: 
          "Navbar"
          "Dashboard"
          "Footer";

  grid-template-rows: 150px 1fr 150px;
  grid-template-columns: 1fr;
  grid-gap: 0px;
}
.dashboard-container{
  display: flex;
  justify-content: center;
  background-color: rgb(236, 238, 240);
}
.Dashboard{
  grid-area: Dashboard;
  min-height: 680px;
  width: 1200px;
}
.Dashboard-content{
  padding: 25px 15px;
}
