.navbar-container{
  display: flex;
  justify-content: center;
  background-color: rgb(192, 208, 223);
}
.Navbar{
  grid-area: Navbar;
  min-height: 150px;
  min-width: 1200px;
  display: flex;
  justify-content: space-between;
}
.Navbar-right{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

a{
  text-decoration: none;
  color:rgb(41, 9, 99);
}
a:hover{
  color:rgb(34, 85, 224);
}
a:active{
  color:rgb(177, 58, 201)
}


