.MyWords{
  padding: 0;
}
.wordsCoupleAdded{
  display: flex;
  justify-content: space-between;
  border:2px solid grey;
  border-radius: 5px;
  padding: 8px;
  font-weight: 700;
  flex-grow: 1;
}
.MyWords__couples{
  display: flex;
  max-width: 1200px;
  max-height: 1200px;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 5px;
}