.dashboard-container{
  display: flex;
  justify-content: center;
  background-color: rgb(231, 233, 235);
}
.Dashboard{
  grid-area: Dashboard;
  min-height: 680px;
  width: 1200px;
}
.Dashboard-content{
  padding: 25px 15px;
}
