.dashboard-container{
  display: flex;
  justify-content: center;
  background-color: rgb(231, 233, 235);
}
.Dashboard{
  grid-area: Dashboard;
  min-height: 700px;
  width: 1200px;
}
.Dashboard-content{
  padding: 15px 25px;
}
.wordSearch__input{
margin-top: 7px;
  padding: 10px;
  width: 200px;
  border:1px solid rgb(107, 102, 102);
  border-radius: 5px;
}
.mainTranslate{
  margin-left: 15px;
  display: inline;
  font-weight: bold;
  font-size:25px;
}