.footer-container{
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: Footer;
  background-color: rgba(8, 10, 12, 0.521);
  height: 100%;
  text-align: center;
}
.Footer{
  display: flex;
  justify-content: flex-end;
  min-width: 1200px;
}
.Footer-word{
  font-size: 15px;
  font-weight: 700;
  font-style: italic;
}