.Profile{
  position: relative;
}
.Profile-table{
  padding: 15px;
  width: 250px;
  border-radius: 5px;
  background: rgb(104, 104, 104, 0.1);  
  backdrop-filter: blur(50px);
  border-top:1px solid rgba(255, 255, 255, 0.5)
}
.statistic-item{ 
  display: flex; 
  justify-content: space-between;
  margin-top: 15px;
}